.DS_Store
.AppleDouble
.LSOverride
/Week1/Code/.log
/Week1/Code/.Rhistory
/Week2/Code/__pycache__/**
/Week1/Result/**
.Rhistory
/Week2/Result/**
/Week3/Result/**
/Week4/Result/**
/Week6/Result/**
/Week7/Result/**
/Week7/Code/__pycache__/**
